<div style="padding-top: 40px; margin: 0 auto;text-align: center" >
    <% if(!like){  %>
    <button class="like" data-flag ="false" data-id="<%= blog._id %>" style="color: aliceblue; border-radius: 50%;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
      </svg></button>
    <% } %>
    <% if(like){ %>
      <button class="like" data-flag ="true" data-id="<%= blog._id %>" style="color: aliceblue; border-radius: 50%;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg>
        </button>
    <% } %>
      <form action="/comments/<%= blog._id %>?_method=GET" method="POST">
          <input type="text" name="commentBody" id="comment" placeholder="Write a comment">
          <button type="submit">Publish Comment</button>
      </form>
  </div>
  
  </div>
  <div class="comments"><h3>Comments</h3>
    <% if(comments){ let i = 0;%>
       <% comments.forEach((comment) =>{ %>
        <div style="margin: 0 auto; width:fit-content;text-align: center">
            <h5 style="color: rgb(255, 255, 255);"><%= comment.body %></h5>
            <h6><%= comment.name %></h6></div>
            
           
       <% i++; }) %>
        
   <% } %>
  </div>

  <script>
    let like = document.querySelector('.like');
    let flag = true;
    like.addEventListener('click',(e)=>{
      if(like.dataset.flag == "true")
      {
        like.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>';
        flag =true;
        id = like.getAttribute('id');console.log(id);
        fetch(`/removelikes/${like.dataset.id}`,{
          method: 'GET'
        }).then(response =>{
          window.location.href = `/blogs/${like.dataset.id}`;
        });
      }
      else
      {
        
        like.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>';
        flag = false;
  
        fetch(`/postlikes/${like.dataset.id}`,{
          method: 'GET',
          
        }).then(response =>{window.location.href = `/blogs/${like.dataset.id}`;});
      }
    })
  </script>
  <%- include('DeleteSnippet.ejs') -%>
  <%- include('footer.ejs') -%>
  
  